body {
	background: rgba(0, 0, 0, 0.9);
	margin: 0;
	color: #fff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.showcase::after {
	content: '';
	height: 100vh;
	width: 100%;
	background-image: url(../img/charles-deluvio-456501-unsplash.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	filter: blur(10px);
	-webkit-filter: blur(10px);
	transition: all 1000ms;
}

.showcase:hover::after {
	filter: blur(0px);
	-webkit-filter: blur(0px);
}


.content {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 50%;
	margin-top: 105px;
	margin-left: -145px;
	width: 300px;
	height: 350px;
	text-align: center;
	transition: all 1000ms;
}

.content .logo {
	height: 180px;
	width: 180px;
}

.content .title {
	font-size: 2.2rem;
	margin-top: 1rem;
}

.content .text {
	line-height: 1.7;
	margin-top: 1rem;
	font-size: 1rem;
}

.container {
	max-width: 960px;
	margin: auto;
	overflow: hidden;
	padding: 4rem 1rem;
}

.grid-4 {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.center {
	text-align: center;
	margin: auto;
}

.bg-light {
	background: #f4f4f4;
	color: #333;
}

.bg-dark {
	background: #333;
	color: #f4f4f4;
}

.grid-2 {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
}

footer {
	padding: 1rem;
}

footer p {
	margin: 0;
}

a {
	text-decoration: none;
}

.services i {
	color: #fff;
}

.resume {
	text-align: left;
}

/* Small Screens */
@media(max-width:560px) {
	.showcase::after {
		height: 50vh;
	}

	.content {
		top: 5%;
		margin-top: 5px;
	}

	.content .logo {
		height: 120px;
		width: 120px;
	}

	.grid-4 {
		grid-template-columns: 1fr 1fr;
	}

	.grid-4 p {
		display: none;

	}

	.grid-2 {
		grid-template-columns: 1fr;
	}

	.fa-user {
		display: none;
	}

	.container {
		padding: 2rem 1rem;
	}

	.text {
		display: none;
	}

}

/* Landscape*/

@media(max-height: 500px) {


	.content .text {
		display: none;
	}

	.content {
		top: -15%;
	}
}
